<!DOCTYPE html>
<html ng-app="automationStation">
<head lang="en">
    <meta charset="UTF-8">
    <title>Automation Station</title>
</head>
<body ng-controller="MainController">
<h1>Automation Station</h1>
<h3>New Task</h3>
<form novalidate>
    <input type="text" ng-model="newTask.name" />
    <button ng-click="addNewTask(newTask)">Add New Task</button>
</form>
<h3>Tasks</h3>
<ul>
    <li class="as-box" ng-repeat="task in tasks">
        <a class="as-link" href="/{{ task.name.toLowerCase() }}">{{ task.name }}</a>
    </li>
</ul>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.12/angular.min.js"></script>
<script src="/static/index.js"></script>
</body>
</html>
